[2015-07-07 09:36] Dobbelsteen opened #3 "Default language when a user registers"
Allow the user to choose which language he wants to use the applciation at the registration form.

[2015-07-07 12:08] Bertware opened #4 "Update data structure"
We will be using our own table to store groups (aka classes/calendars). To prevent confusion, groups will be called calendars, and groups will be called roles.
## Add table calendars
- [x] Add to database migrations
- [x] Add model
- [x] Add relations (linked to users)
- [x] Update code to use new structure
## Rename table groups

In order to prevent confusion, the 'groups' table should be renamed

[2015-07-07 12:20] coreation commented on #4
You'll need to alter code (or configuration) to the cartalyst/sentry package for this, so make sure you're not doing unnecessary work here. Not sure why you're choosing to store classes and calendars in "groups"? Can you elaborate?

[2015-07-07 13:54] Bertware commented on #4
The necessary changes to Sentry are made in the config file. Right now, a group contains users, each user having its own set of permissions.
The new structure would divide these groups in roles and groups.
Roles are used for permissions, managed by Sentry, which treats them as the default 'groups' table. Roles can be superadmin, admin (school) and teacher (normal user).
'Groups' or 'calendars', wh

[2015-07-07 14:06] thgh opened #5 "Create onepager as homepage"
The homepage should show the value that educal offers in an easy to read/see way

[2015-07-07 14:17] thgh opened #6 "Optimize screen estate usage"
There are some areas that need some love:
### Header & sidebar
- [x] Apply minimal design
### Calendar
- [ ] Limit shown events when more than x

[2015-07-09 14:02] thgh opened #7 "Implement popover effect for creating events"

[2015-07-09 14:04] thgh opened #8 "CRUD API for events"

[2015-07-09 14:22] thgh opened #9 "Calendar selector behaviour"
It's not clear to me what the exact behaviour should be.

This might need some user testing

[2015-07-10 08:44] Bertware commented on #4
Controllers to be refactored:
- [x] CalendarController
- [x] CalendarViewController
- [x] HomeController
- [x] ICalCalendarController
- [x] PdfCalendarController
- [x] SchoolController
- [x] UserController

[2015-07-10 08:49] thgh opened #10 "Event name and location have no labels"

[2015-07-10 12:05] #4 closed, assigned to Bertware

[2015-07-10 12:25] Bertware opened #11 "Rewrite URL structure"
Change routes.php to comply with the new (desired) URL structure.
See [google docs](https://docs.google.com/document/d/1xXfF1TGzlQ25aiU-p4rcPpdab74Vn5YvuCnHOYIQEu8/edit#)
![image-0001](https://cloud.githubusercontent.com/assets/1094793/8618487/4b0b479a-270f-11e5-9bb7-50f5f6089e7e.jpg)

[2015-07-10 12:26] Bertware opened #12 "Refactor routes"
Refactor all routes for the new URL structure

Te refactoren prefixes:
- [x] schools
- [x] profile
- [x] api
- [x] calendar
- [x] group
- [x] export

[2015-07-13 15:04] Bertware opened #13 "Add additional database fields"
To be added:

User:
- verified (bool) // user is representative of verified organisation

School:
- Slug
- URL
- Address
- Phone
- Mail
- Active

[2015-07-13 15:30] Bertware commented on #13
To add:
Appointment:
- color

[2015-07-13 22:31] thgh commented on #13
Calendar:
- color/hue
- PRODID

Appointment
- label color/text color
- image
- person
- location/address/place/latlong
- summary/description
- PRODID
- alarm
- status: cancelled
- category

inspiration from https://www.nttdocomo.co.jp/english/service/developer/make/content/iconcier/scheduler/format/

[2015-07-14 07:26] Bertware opened #14 "New event dialog needs close button"
Popover dialog to create new events (shows up when clicking an empty space on the calendar) needs a cancel / close button

[2015-07-14 07:45] Bertware commented on #13
Resolved in commit d9ca3a38569e677ce90e9d915426d95425227e69

![database_newfields](https://cloud.githubusercontent.com/assets/1094793/8668597/05c6d932-2a0d-11e5-8bd8-55d60da1b4a5.png)

[2015-07-14 07:45] #13 closed, assigned to nobody

[2015-07-14 07:54] thgh opened #15 "Choose a license"
MIT?

[2015-07-14 08:01] pietercolpaert commented on #15
Fine by me. I find it strange we never decided on a license before... @dobbelsteen

[2015-07-14 08:30] #6 closed, assigned to nobody

[2015-07-14 08:32] #5 closed, assigned to nobody

[2015-07-14 08:35] #14 closed, assigned to thgh

[2015-07-14 10:02] xavez opened #16 "As a registered person, I can log in with my e-mail and password"
As a registered person, I can log in with my e-mail and password.
- [x] Error handling: friendly message that un/pass is incorrect

[2015-07-14 10:04] xavez opened #17 "As a parent, I can easily add all class events to my device's calendar"
- [ ] iCal export button
- [ ] Design and explanation about iCal export

[2015-07-14 10:04] xavez opened #18 "As a parent, I can view all of my child’s school events in my preferred digital agenda(s)"
- [x] iCal export button
- [x] Design and explanation about iCal export
#17 is merged into this one

[2015-07-14 10:05] xavez opened #19 "As a parent, I can select which calendar I want to hide/show"
- [x] UI design
- [x] Multi-select in front end
- [x] Dropdown SVG arrow

[2015-07-14 10:05] xavez opened #20 "As a person, I can see which events relate to which calendar when multiple calendars are active"
- [x] Design with colours
- [x] Make sure colour blind ppl can see this
- [x] Implement front-end
- [ ] Colors

[2015-07-14 10:05] xavez opened #21 "As an editor, I can add an event on one day by clicking that day"
Two more minor issues.
- [x] Whitespace between arrow in “Tijd” and border-bottom of “Title”
- [x] Missing margin under in Calendar dropdown

See screenshot: http://c.xvr.io/image/2m0H2U2e2t0p

[2015-07-14 10:05] xavez opened #22 "As an editor, I can delete an event"

[2015-07-14 10:06] xavez opened #23 "As an editor, I can edit any event on the calendar"

[2015-07-14 10:06] xavez opened #24 "As an editor, I can see all the calendars in my organisation (read only)"
- [ ] UI: list view
- [x] Back-end: list view
- [x] Front-end: list view

[2015-07-14 10:06] xavez opened #25 "As an editor, I can edit all events on the calendars that I have explicit access to"
Also see #23

[2015-07-14 10:10] #10 closed, assigned to nobody

[2015-07-14 10:11] #9 closed, assigned to nobody

[2015-07-14 12:16] brucevansteenwinkel commented on #25
<img width="839" alt="schermafbeelding 2015-07-14 om 14 16 23" src="https://cloud.githubusercontent.com/assets/4647210/8672909/e1e3c4be-2a32-11e5-81ca-d08451b33548.png">

Tell me if I'm doing something wrong, or if you have other ideas let me know

[2015-07-14 13:40] brucevansteenwinkel commented on #21
<img width="899" alt="schermafbeelding 2015-07-14 om 15 40 52" src="https://cloud.githubusercontent.com/assets/4647210/8674510/af4bd5f8-2a3e-11e5-8441-2c6d7de735c2.png">

Addition to day selection

[2015-07-14 14:01] brucevansteenwinkel commented on #20
<img width="639" alt="schermafbeelding 2015-07-14 om 16 01 21" src="https://cloud.githubusercontent.com/assets/4647210/8674967/8d170bda-2a41-11e5-8131-589c424c670b.png">

Uploaded the svg files in slack

[2015-07-14 14:07] brucevansteenwinkel commented on #19
<img width="123" alt="schermafbeelding 2015-07-14 om 16 07 08" src="https://cloud.githubusercontent.com/assets/4647210/8675116/5ca34b8e-2a42-11e5-9c2d-3dfa17281514.png">

[2015-07-14 14:07] xavez commented on #19
@brucevansteenwinkel can you give all the states? Selected, not selected, focused with keyboard etc?

[2015-07-14 14:40] brucevansteenwinkel commented on #19
<img width="139" alt="schermafbeelding 2015-07-14 om 16 40 08" src="https://cloud.githubusercontent.com/assets/4647210/8675978/fbeca77c-2a46-11e5-9b09-981087a83b09.png">

Default: grey overlay, color shows when hovered, color stays vibrant when checked
Klas just regular checkbox

[2015-07-14 14:46] brucevansteenwinkel commented on #18
<img width="296" alt="schermafbeelding 2015-07-14 om 16 44 21" src="https://cloud.githubusercontent.com/assets/4647210/8676070/8fa5b5a8-2a47-11e5-83ab-03ad992ed573.png">

Button is pretty big and bold because it's one of our main features

When clicked: (PDF is optional)
<img width="356" alt="schermafbeelding 2015-07-14 om 16 44 24" src="https://cloud.githubusercontent.com/assets/4647210/8676106/a

[2015-07-14 15:15] xavez commented on #19
@brucevansteenwinkel not sure about @thgh but I find that pretty vague as a description :D. Could help to have an actual design per state for UI elements. Similar to: ![Image of UI elements](http://f.cl.ly/items/3M473K3S1K3H3Z3g1d17/Image%202015-07-14%20at%205.15.40%20p.m..png)

[2015-07-14 15:38] Bertware commented on #17
Tested export function, working

[2015-07-14 15:49] Bertware commented on #25
backend (CRUD) is available for this operation

[2015-07-14 15:50] xavez commented on #18
I like this :+1:  -> to be tested whether people actually find the “export” button.

[2015-07-14 15:57] xavez commented on #25
@brucevansteenwinkel I like this, but I do think we will need to decide at some point whether everything will be live editing or whether we need save actions everywhere.

In this particular case, it’s not so clear what to do after I’m done editing for instance. I think it’s mostly because a real modal like this (with dark grey overlay) usually has close / save buttons. Maybe try to go for a popout

[2015-07-14 19:24] xavez commented on #3
Moved to backlog

[2015-07-14 19:24] #3 closed, assigned to nobody

[2015-07-14 20:08] mietcls commented on #23
Duplicate of #25

[2015-07-14 20:25] mietcls commented on #17
Merged with #18

[2015-07-14 20:25] xavez commented on #18
@Bertware said in #17 Tested export function, working

[2015-07-14 20:26] #17 closed, assigned to nobody

[2015-07-14 20:33] #23 closed, assigned to thgh

[2015-07-15 12:49] xavez opened #26 "As an admin, I can accept users to my organisation"

[2015-07-15 12:49] xavez opened #27 "As an admin, I can see an overview of users who want to join my organisation"

[2015-07-15 12:49] xavez opened #28 "As an admin, I can see a list of all the users in my organisation"

[2015-07-15 12:49] xavez opened #29 "As an editor, I can add an event for multiple days by clicking on the first day and dragging to the last day"

[2015-07-15 12:49] xavez opened #30 "As a parent, I can see event details without logging in or downloading anything"

[2015-07-15 12:49] xavez opened #31 "As a parent, I can read about how to add a calendar to my device"

[2015-07-15 12:49] xavez opened #32 "As an admin, I can import a list of e-mail addresses to invite as editors of my organisation"

[2015-07-15 12:49] xavez opened #33 "As a user, I can see my acceptance status - acceptance to a certain group (school)"

[2015-07-15 12:49] xavez opened #34 "As an admin, I can see the roles in the list of users in my organisation"

[2015-07-15 12:49] xavez opened #35 "As a user, I can register an account on the educal website"
- [x] “Log hier in” link looks off: http://c.xvr.io/image/2q2n351r3h0H discuss with @brucevansteenwinkel
- [x] School name is either saved or rendered without spaces, see: http://c.xvr.io/image/0q2z0J110G11
- [x] Make the error messages more friendly: “Vergeet je _fieldname_ niet in te vullen”
- [x] Link “Start nu gratis” button on homepage to `/register`

[2015-07-15 12:49] xavez opened #36 "As a user, I can create a new organisation"

[2015-07-15 12:49] xavez opened #37 "As a user, I can request to join an existing organisation"

[2015-07-16 07:15] brucevansteenwinkel commented on #22
<img width="555" alt="schermafbeelding 2015-07-16 om 09 14 25" src="https://cloud.githubusercontent.com/assets/4647210/8717368/21548cdc-2b9b-11e5-969e-4668f9c1db5b.png">

[2015-07-16 08:38] Bertware commented on #25
AJAX request to API should include calendar Id, except for that, everything should be working

[2015-07-16 12:50] thgh commented on #22
This works as it should

[2015-07-16 15:12] #7 closed, assigned to nobody

[2015-07-16 15:13] #8 closed, assigned to nobody

[2015-07-17 15:14] Bertware commented on #16
New design implemented, validation & feedback still to do (commit 600c96c32d27c473cab6afa0efaf7a11ca4e59f8)

[2015-07-19 15:35] thgh opened #38 "Autofocus first input field on event creation"

[2015-07-27 07:23] #25 closed, assigned to nobody

[2015-07-27 07:26] xavez commented on #20
Todo @brucevansteenwinkel : check kleurtjes / patronen / iconen / . . .

[2015-07-27 07:29] xavez commented on #24
Design: make clear that some calendars are read only.

[2015-07-27 08:47] thgh commented on #16
Ready as of d512f9c

[2015-07-27 09:02] xavez commented on #22
One question: what if there is an error? e.g. an event cannot be deleted because of a server or database connection issue? Is there a way to show the user an error message?

@thgh feel free to answer and re-assign to me when answered.

[2015-07-27 09:09] xavez commented on #21
Two more minor issues.
- [x] Whitespace between arrow in “Tijd” and border-bottom of “Title”
- [x] Missing margin under in Calendar dropdown

See screenshot: http://c.xvr.io/image/2m0H2U2e2t0p

[2015-07-27 09:10] xavez commented on #16
@thgh when I click login, the popover disappears, so I never see the error message. We should probably use HTML5 validation to make sure the form doesn’t submit when empty.

[2015-07-27 09:30] xavez commented on #16
Seemed to have been a deployment server issue. All works now. Great!

[2015-07-27 09:30] #16 closed, assigned to thgh

[2015-07-27 09:57] thgh commented on #22
Currently there is no way to show input errors, connection errors or server errors.

My current plan is to start with html5 validation for input errors.
And other errors will be rendered with alertify.js or notify.js

[2015-07-27 11:01] xavez commented on #22
Okay, excellent, added new user story to backlog for error messaging. This works as intended.

[2015-07-27 11:01] #22 closed, assigned to thgh

[2015-07-27 12:12] brucevansteenwinkel commented on #20
Filed uploaded to slack

[2015-07-27 12:42] brucevansteenwinkel commented on #24
Discussed with Thomas, there is a read-only view for people who can't edit an event. People who can dit go immediately to the edit / add view
<img width="946" alt="schermafbeelding 2015-07-27 om 14 42 57" src="https://cloud.githubusercontent.com/assets/4647210/8906288/af55a536-346d-11e5-85e7-fb874f3918b1.png">

[2015-07-27 12:53] xavez commented on #24
Okay, assigned to @thgh :-)

[2015-07-28 07:37] xavez commented on #18
TODO
- @brucevansteenwinkel bezorgt image met help content
- @thgh implementeer minimale versie in HTML met image + link / url

[2015-07-28 08:02] thgh commented on #20
Groen: 34ce45
Lichtblauw: 3a8bce
Rood: c13838
Munt: 2cdbca
Geel: e5c12c
Paars: 7548cc
Oranje: e08a00
Roos: d66ae5

[2015-07-28 08:23] thgh commented on #18
@Bertware routes implementeren

[2015-07-28 09:29] Bertware commented on #12
Finished a while ago, irrelevant

[2015-07-28 09:29] #12 closed, assigned to nobody

[2015-07-28 09:30] Bertware commented on #11
implemented a while ago

[2015-07-28 09:30] #11 closed, assigned to nobody

[2015-07-28 10:08] xavez commented on #24
Has some bugs, but basic idea works, will post bugs as separate issues.

[2015-07-28 10:08] #24 closed, assigned to xavez

[2015-07-28 10:08] xavez commented on #29
Works nice. Feedback from user test, will make separate issue.

[2015-07-28 10:08] #29 closed, assigned to xavez

[2015-07-28 10:12] xavez commented on #30
How can I test? I think I know how, but it’s important to give some context when you assign for testing ;).

[2015-07-28 10:13] xavez commented on #20
@brucevansteenwinkel can you check if the colours are correct by your design on http://178.62.152.244? When they’re good, you can comment on and close the issue.

[2015-07-28 10:14] xavez commented on #21
Much better! :-).

[2015-07-28 10:14] #21 closed, assigned to xavez

[2015-07-28 10:14] Bertware commented on #30
Visit the demo osoc school at http://178.62.152.244/osoc :)

[2015-07-28 10:15] xavez commented on #19
Still has some display bugs, but will report in separate issue. SVG arrows look nice! :+1: ;)

[2015-07-28 10:15] #19 closed, assigned to xavez

[2015-07-28 10:17] xavez commented on #30
Works! :white_check_mark:

[2015-07-28 10:17] #30 closed, assigned to xavez

[2015-07-28 12:20] brucevansteenwinkel commented on #20
Checked, they're correct!

[2015-07-28 12:20] #20 closed, assigned to brucevansteenwinkel

[2015-07-28 12:59] xavez commented on #18
Excellent, this works. Has some issues as @brucevansteenwinkel mentioned, but those will be separate github issues.

[2015-07-28 12:59] #18 closed, assigned to thgh

[2015-07-28 13:34] xavez opened #39 "Document how to set up the project in README.md"
Documentation should contain a small guide of how to set up the project locally, and on a server.
Minimal is good enough for now, but make sure to list all the necessary steps

e.g. “install bower” with a link to the bower documentation is good enough. But you should definitely mention that you need to install bower.

[2015-07-28 13:40] xavez opened #40 "Make background of selected day a bit darker."
This blue should be a bit darker: http://c.xvr.io/image/3M050j320s1q

[2015-07-28 13:44] xavez opened #41 "Change wording of “Abonneren op deze kalender”"
Need another word that feels less like a money transaction.

<img width="566" alt="schermafbeelding 2015-07-28 om 15 43 31" src="https://cloud.githubusercontent.com/assets/400335/8932766/6c0980c2-353f-11e5-8baf-03bb7c320b4b.png">

Proposals:
- “Download kalender”
- “Voeg kalender toe aan toestel”
- “Exporteer kalender”
- “Importeer kalender”

Maybe @dorienmarinus and @brucevansteenwinkel can shine

[2015-07-28 13:45] xavez opened #42 "Add a button to add an event"
We might need a button to add an event from the sidebar (not on the calendar)

Less priority because people eventually find how to add an event.

[2015-07-28 13:46] xavez opened #43 "Error handling for when add event is empty (same as login)"
When you click “Toevoegen” to add an event, and the title is empty, there is no feedback. There needs to be feedback similar to the feedback on the login page.

Highlight field title and add a line that says “Titel vereist"

[2015-07-28 13:49] xavez opened #44 "Change Wording for “Kalender” in Add Event Popup"
In the add event popup, the name “Kalender” was confusing for test users. It should be changed to something like "Klas" or “Group”. I leave it up to @brucevansteenwinkel or @dorienmarinus to pick the right word ;).

[2015-07-28 13:52] xavez opened #45 "Tweak multiple event drag behaviour"
When dragging from 1-3 august, the event popup shows 1 aug 00:00 to 4 aug 00:00. Expected behaviour is 1 aug 00:00 to 3 aug 23:59

See: http://c.xvr.io/image/3Y3p0L033317

[2015-07-28 13:54] xavez opened #46 "List of hours: per half hour in stead of per hour"
The list of hours now has increments of 1 hour, increments of 30 minutes would be useful according to test people.

[2015-07-28 13:55] xavez opened #47 "Start an event standard at 8:00 in stead of 00:00"
When adding an event, it is an all-day event by default, would be nice if it would start at 8:00 and stop at 9:00 by default.

[2015-07-29 08:08] mietcls commented on #45
Tweak: It should just say "all day" instead of the hours. If an event lasts the whole day, it shouldn't be specified.

[2015-07-29 08:52] mietcls opened #48 "Multiple day event: days"
If you drag from 1-3 august, the event popup should show from 1-3 august, not 1-4 august. Example of the problem: http://c.xvr.io/image/3Y3p0L033317

See issue #45

[2015-07-29 08:59] mietcls opened #49 "Multiple day event: hours"
The hours shouldn't be displayed, we should only show "Hele dag" with a checkbox. If this checkbox is unchecked, the hours can be 08:00 (first day) to 09:00 (last day). (http://c.xvr.io/image/3Y3p0L033317)

See #45

[2015-07-29 09:04] mietcls commented on #45
This issue has been split up in #48 and #49

[2015-07-29 09:04] #45 closed, assigned to nobody

[2015-07-29 09:10] Bertware commented on #28
Backend implemented, frontend partly implemented

[2015-07-29 09:12] Bertware commented on #26
I suggest to keep the request system as a future feature, and just letting admins add users

[2015-07-29 09:12] Bertware commented on #27
I suggest to keep the request system as a future feature, and just letting admins add users

[2015-07-29 09:13] Bertware commented on #33
I suggest to keep the request system as a future feature, and just letting admins add users

[2015-07-29 09:14] Bertware commented on #36
You can register at http://178.62.152.244/register . Validation and feedback is not implemented yet.

[2015-07-29 09:16] Bertware commented on #35
See #36 .
A user account is created when creating an organisation. Creating an account without creating a new organisation is not possible (right now). Creating users for a school should be done by school admins

[2015-07-29 09:53] thgh commented on #49
Fixed

[2015-07-29 09:53] thgh commented on #48
Fixed

[2015-07-29 10:00] Bertware commented on #44
Can be tested by logging in and adding a new event. It'll now say "voor wie" instead of kalender

[2015-07-29 10:02] Bertware opened #50 "As an admin, I can add new users to my organisation"
As an admin, I can add a new (non-existent) user to my school. The user account for this user will be created.
- [x] Backend
- [x] Frontend
- [x] Password reset
- [x] Configure mail on test server

[2015-07-29 10:03] thgh commented on #40
Fixed in commit #0d2b4f7

[2015-07-29 10:09] thgh commented on #39
Some content to include in README:

## Stack
- FullCalendar http://fullcalendar.io
- Laravel
- jquery for public view
- angularjs for admin view

Development dependencies:
- bower
- grunt
- sass
- uglify

## Installation

### nginx configuration

[code]

### Apache configuration

todo

#### Install dependencies

[code]

### Laravel

Create config file and insert MySQL database info

[code]

[2015-07-29 11:36] #48 closed, assigned to mietcls

[2015-07-29 11:36] #47 closed, assigned to mietcls

[2015-07-29 11:40] #44 closed, assigned to mietcls

[2015-07-29 11:40] #40 closed, assigned to mietcls

[2015-07-29 11:48] mietcls commented on #49
Could you look at the hours? It still starts at 00:00 first day and ends at 23:59 last day instead of starting at 08:00 first day and ending 09:00 last day (it's more consistent behavior, it has the same behavior with a single day)

[2015-07-29 12:10] #41 closed, assigned to nobody

[2015-07-29 12:26] Bertware commented on #46
Can be tested by adding or editing an event

[2015-07-29 12:45] Bertware commented on #42
Added button, just needs to be hooked in to javascript. Button only visible when logged in.

[2015-07-29 12:50] xavez commented on #46
Still has a quirky bug where two times are selected (and not the correct ones):

<img width="380" alt="schermafbeelding 2015-07-29 om 14 48 15" src="https://cloud.githubusercontent.com/assets/400335/8957767/f0511aea-3600-11e5-95f8-ddada00f8943.png”>

Test:

- Create event
- Change start date to 11:30 via dropdown
- Change time again, see that 12:00 and 12:30 are selected

[2015-07-29 12:50] xavez commented on #46
Still has a quirky bug where two times are selected (and not the correct ones). Test:
- Create event
- Change start date to 11:30 via dropdown
- Change time again, see that 12:00 and 12:30 are selected

<img width="380" alt="screen" src="https://cloud.githubusercontent.com/assets/400335/8957808/4757bd58-3601-11e5-85f8-7b054a29f335.png">

[2015-07-29 14:38] Bertware commented on #28
Works. Can be tested by logging in and going to dashboard > users

[2015-07-29 14:44] xavez commented on #46
Yeey, that works perfectly now!

[2015-07-29 14:44] #46 closed, assigned to xavez

[2015-07-29 14:45] #49 closed, assigned to mietcls

[2015-07-29 14:47] Bertware commented on #35
Registration works. Feedback needs to be styled. Can be tested at http://178.62.152.244/register

[2015-07-29 14:47] Bertware commented on #33
Invitation / request system is a feature future, not for sprint 2 (probably not for oSoc15)

[2015-07-29 14:51] xavez commented on #35
- [x] Log hier in link looks off: http://c.xvr.io/image/2q2n351r3h0H maybe discuss with @brucevansteenwinkel
- [x] School name is apparently either saved or rendered without spaces, see: http://c.xvr.io/image/0q2z0J110G11
- [ ] We need to make the error messages more friendly, maybe @dorienmarinus or @brucevansteenwinkel can have a look and rewrite these: http://c.xvr.io/image/1w2H0S3M132g

[2015-07-29 14:53] xavez commented on #28
Works, excellent.

[2015-07-29 14:53] #28 closed, assigned to mietcls

[2015-07-29 14:55] ghost commented on #35
Voorstellen:
- "voornaam" is nog niet ingevuld
- vergeet je voornaam niet in te vullen
- je moet je voornaam invullen voor je verder kan
- oeps, je bent je voornaam vergeten in te vullen
- je bent je voornaam vergeten in te vullen, shame on you
- I aint working without a voornaam

[2015-07-29 15:15] mietcls commented on #42
The button that says “voeg event toe”, it’s just as prominent as export. Make them switch places and make the export button a little less prominent (a secondary button), so it won't stand out so much.

This is an example, but ask @brucevansteenwinkel for a secondary button.

![schermafbeelding 2015-07-29 om 17 14 29](https://cloud.githubusercontent.com/assets/1572885/8961430/6a8356b6-3615-11e5-9fc

[2015-07-29 15:22] xavez commented on #39
Documentation is good now. Just did a set-up from 0. Good job.

[2015-07-29 15:22] #39 closed, assigned to Bertware

[2015-07-29 15:26] mietcls opened #51 "Make log in button more prominent"
To avoid confusion about your access rights:

When visiting the calendar when you are not logged in, the login button should be more prominent, because it is a call to action.

![schermafbeelding 2015-07-29 om 17 24 37](https://cloud.githubusercontent.com/assets/1572885/8961645/ad427274-3616-11e5-894a-f346e420106c.png)

[2015-07-29 15:28] mietcls opened #52 "Blank state for logged out users that want to create an event"
When clicking on a day to create an event while you are not logged in, it should display a modal "Om een event te creëren, gelieve je aan te melden." (with a button that points you to the login screen).

[2015-07-29 15:29] mietcls commented on #52
@dorienmarinus have some input for the copy?

[2015-07-29 15:33] ghost commented on #52
Proposals:
- om activiteiten aan te maken moet je je eerst aanmelden
- om activiteiten aan te maken moet je aangemeld zijn
- om activiteiten te plaatsen moet je ingelogd zijn
- gelieve je aan te melden als je een event/activiteit wilt aanmaken/plaatsen
- alleen admins kunnen evenementen aanmaken. Klik hier om je aan te melden

[2015-07-29 19:59] xavez commented on #35
@Bertware issue description at the top updated.

[2015-07-29 20:05] xavez opened #53 "When I add an event to a calendar, that calendar should be activated."
When I add an event to a calendar that is not currently active, it just seems as if the event disappears. The event does save, but my calendar is not activated, which makes it feel broken.

When I add an event to a calendar, that calendar should be activated.

[2015-07-29 20:13] xavez opened #54 "Standard on login, all calendars should be active"
When logging in, all calendars should be active.

[2015-07-29 20:14] xavez opened #55 "Educal should remember my activated / deactivated calendars across logins"

[2015-07-29 20:24] xavez opened #56 "Checkbox behaviour"
- Real checkboxes should never be visible.
- Empty checkboxes should be displayed with a simple border on the span surrounding them.
- On hover, the border should light up.

Unchecked:
<img width="1440" alt="unchecked" src="https://cloud.githubusercontent.com/assets/400335/8968877/5a399ec0-3640-11e5-954d-fc02071bfc3d.png">

Checked:
<img width="1440" alt="checked" src="https://cloud.githubusercont

[2015-07-29 20:28] xavez opened #57 "Create event: not all fields should be required"
Only the title field should be required when creating an event

<img width="381" alt="pop" src="https://cloud.githubusercontent.com/assets/400335/8969012/085c9584-3641-11e5-9748-550814397d0d.png">

[2015-07-30 06:53] thgh commented on #57
This is required server side

[2015-07-30 06:57] Bertware commented on #57
Server side only requires calendar_id, start,end and title

[2015-07-30 07:20] Bertware commented on #57
To be tested: how does an event without description or location show up in readonly mode? can be tested by logging out

[2015-07-30 07:58] Bertware commented on #42
duplicate with #51 ?

[2015-07-30 08:33] xavez commented on #56
Nice, like the subtle animations. Excellent work!

[2015-07-30 08:33] #56 closed, assigned to xavez

[2015-07-30 08:58] xavez commented on #53
This works for admin, but somehow doesn’t work for editor, can you check? Might have something to do with the db / perms?

[2015-07-30 09:02] thgh commented on #53
It only works for lowest level calendars. Should all subcalendars open when adding an event to the 4th year?

[2015-07-30 09:07] xavez commented on #53
Yes! :-)

An option is adding a checkbox to toggle “all calendars”

## 1e jaar
- [ ] Alle groepen
- [ ] 1A
- [ ] 1B

## 2e jaar
- [x] Alle groepen
- [x] 2A
- [x] 2B
- [x] 2Z

[2015-07-30 09:21] xavez commented on #35
Almost there, just one tiny tweak to the copy:

“Vergeet **je** _fieldname_ niet in te vullen”

[2015-07-30 09:22] xavez commented on #36
This works. Excellent.

[2015-07-30 09:22] #36 closed, assigned to xavez

[2015-07-30 09:49] xavez commented on #35
Aaaaaaaand close that sucker!

<img src="http://38.media.tumblr.com/42856c2e73c51ab9dfd0621bb5f9f190/tumblr_mi2sr4NPdK1rjf0fxo1_250.gif" />

[2015-07-30 09:49] #35 closed, assigned to xavez

[2015-07-30 09:52] xavez commented on #57
@Bertware apparently it does’t. Check out:
- http://178.62.152.244/osoc
- Toggle klas 1B on
- Click on the “Test again” event on 16 july

[2015-07-30 10:38] ghost opened #58 "Copy onepager"
@Bertware
The onepager still needs some changes on the copy
Check slackmessage Bruce!
- Schoolkalender is one word
- at login: Email is written as e-mail
- vilvoorde moet weg, vervangen worden door school vanuit Gent
- 'hoe werkt het' in upper menu moet 'wat is educal' worden
- educal met hoofdletter?

[2015-07-30 11:02] xavez commented on #58
@dorienmarinus should be fixed. Wefwesh.

[2015-07-30 11:17] xavez commented on #58
Alright, changed educal to Educal, everything should be fixed now @dorienmarinus

[2015-07-30 12:04] Bertware commented on #50
Everything should be implemented now, except for the "send password" button in frontend (minor stuff) :)

[2015-07-30 12:07] Bertware opened #59 "Events always saved as allday even when not checked"
Even when unchecking allday, the event is saved as an allday event

[2015-07-30 12:09] Bertware opened #60 "Allday events are not shown in readonly mode"
Allday events are not shown. Exception: ev.end is null

[2015-07-30 12:10] Bertware commented on #57
The popup not opening seems to be a general issue, see #60

[2015-07-30 12:14] Bertware commented on #57
Popups are now shown, but the location bar etc is just empty. Placeholder text ('no location') or icons?

[2015-07-30 13:11] xavez commented on #57
@Bertware is it possible to remove the entire p?

[2015-07-30 13:12] xavez commented on #59
@Bertware do you expect me to do something? :-)

[2015-07-30 14:20] xavez commented on #58
Closing this, considering it fixed.

[2015-07-30 14:20] #58 closed, assigned to nobody

[2015-07-30 14:40] xavez commented on #51
Works. Excellent.

[2015-07-30 14:40] #51 closed, assigned to mietcls

[2015-07-30 14:41] xavez commented on #42
Fixed. Great!

[2015-07-30 14:41] #42 closed, assigned to mietcls

[2015-07-30 14:43] xavez commented on #59
@Bertware this seems to be working now, but I’m not sure I ever saw the issue . . . Assigning it to you, if it works for you, close it! ;).

[2015-07-30 15:01] Bertware commented on #59
Fixed :)

[2015-07-30 15:01] #59 closed, assigned to Bertware

[2015-07-30 15:02] Bertware commented on #60
Tested, works

[2015-07-30 15:02] #60 closed, assigned to xavez

[2015-07-30 15:03] thgh commented on #43
Fixed

[2015-07-30 20:39] xavez commented on #43
Almost. One more thing: remove the warning styling when the user starts typing in the input field :-).

[2015-07-30 20:51] xavez commented on #53
Not quite as I imagined, but works quite well, closing it :-).

[2015-07-30 20:51] #53 closed, assigned to xavez

[2015-07-30 20:54] xavez commented on #31
@Bertware, assigning this one to you. Discuss with @thgh who will pick this up. We really need the help page @brucevansteenwinkel designed, otherwise, it will all have been for nothing :D.

This help page is one of the key things of the app! Really important to get this in there ;).

[2015-07-30 20:56] xavez opened #61 "Remove rounded corners from .fc-event"
Change border radius to 0

[2015-07-30 21:01] xavez opened #62 "Expand / collapse should be more clear"
Whether a group is expanded or collapsed should be more clear.

Example:

<img width="184" alt="ex" src="https://cloud.githubusercontent.com/assets/400335/8994977/e1c95bea-370e-11e5-8c80-e6de1995998c.png">

[2015-07-30 21:27] Bertware commented on #31
Started working on this this afternoon, talked with @thgh already, I know how to implement it now :)

[2015-07-31 07:08] Bertware commented on #50
To do: Configure mail on test server

[2015-07-31 09:41] xavez commented on #57
Great!

[2015-07-31 09:41] #57 closed, assigned to xavez

[2015-07-31 09:42] xavez commented on #62
grrrreat!

[2015-07-31 09:42] #62 closed, assigned to xavez

[2015-07-31 09:42] xavez commented on #43
Hooray!

[2015-07-31 09:42] #43 closed, assigned to xavez

[2015-07-31 09:44] #61 closed, assigned to nobody

[2015-07-31 10:28] thgh commented on #50
Current status, we need a reliable smtp server
"Expected response code 250 but got code "535", with message "535-5.7.8 Username and Password not accepted. Learn more at
 535 5.7.8 https://support.google.com/mail/answer/14257 r8sm3781644wiz.5 - gsmtp
 ""

[2015-07-31 11:18] Bertware commented on #31
Works!

[2015-07-31 11:18] #31 closed, assigned to Bertware

[2015-07-31 11:18] Bertware commented on #50
Works!
Correct mail configuration is essential though

[2015-07-31 11:18] #50 closed, assigned to Bertware

[2015-07-31 12:40] #15 closed, assigned to nobody

[2015-08-27 17:26] Bertware opened #65 "When editing classes, only editing the parent calendar won't save"
Steps to reproduce:
- Login as school admin
- Go to dashboard > classes
- Edit the parent of a class
- The row won't be marked as "changed" (yellow) and won't be saved

Workaround:
- Change the parent
- Change the text
- Text change will be detected and row will be saved when clicking outside the row

Suggested fix:
Detect changes in the parent dropdown inmput

[2015-08-27 17:28] Bertware opened #66 "When adding classes without a parent, the treeview is invisible"
Steps to reproduce:
- Login as admin
- Go to dashboard > classes
- Add a class without a parent, **while there is already another class without a parent**
- Go to calendar
- The sidebar doesn't show the classes (all classes are display:none)

Suggested fix:
Update navigation/tree algorithm to be more flexible, showing all "root" classes on top

[2015-08-27 17:42] Bertware opened #67 "When adding a new class and saving, top bar remains yellow"
Steps to reproduce:
- Login as admin
- Go to dashboard > classes
- Add a calendar
- After clicking the save button, the top bar remains yellow

[2015-08-27 17:44] Bertware opened #68 "Adding calendar: unclear if added or not"
Steps to reproduce:
- Login as admin
- Go to dashboard > classes
- Add a class
- When there are a lot of classes, the newly added entry isn't visisble (user needs to scroll down)

Further notes:
When there are a lot of classes, it's unclear if the calendar has been added. Either adding it on top of the listview, or autoscrolling to the bottom would fix this. (so the newly added entry is visible, p

[2015-08-27 17:48] Bertware opened #69 "Can't remove classes"
Steps to reproduce:
- Login as admin
- Go to dashboard > classes
- Try to delete a class (this is impossible)

Suggested fix:
Add a button that sends a delete request to api/1/calendars/
(Post parameter: Id: the id of the class to delete)
See ApiController@destroyCalendar, ApiController:587

[2015-08-27 17:52] Bertware opened #70 "Classes: "bekijken" button doesn't work"
Steps to reproduce:
-    Login as admin
-    Go to dashboard > classes
-    Press "bekijken" button

The expected behaviour of this button is unknown. Pressing the button does nothing. Confuses users.

[2015-08-27 17:56] Bertware commented on #69
Suggestion:
Remove in a similar way as "removeEvent(id)" in app.js

[2015-09-04 14:38] #65 closed, assigned to nobody

[2015-09-04 14:38] #66 closed, assigned to nobody

[2015-09-04 14:38] #69 closed, assigned to nobody

[2015-09-04 14:39] #70 closed, assigned to nobody

[2015-09-10 20:57] Bertware opened #72 "As an admin, I can remove editors from my organisation"
Steps to reproduce:
- Login as admin
- Go to dashboard > medewerkers

There is no option to remove users.

Suggested fix;
Add column with remove buttons.
Users can be completely removed since they're always linked to only one school.
Backend functionality is already implemented by a DELETE request to api/1/users/{id}.

[2015-09-10 21:03] Bertware opened #73 "Exporting all calendars doesn't work"
Exporting all calendars results in an error page.
http://educal.gent.be/osoc/all.ics

Solution:
Change the += operator to =

[2015-09-14 08:45] tthoeye opened #74 "Cannot select calendars on the overview page"
I'm getting `Uncaught TypeError: $(...).fullCalendar is not a function` whenever selecting a calendar in the sidebar. Probably JS confusion.

[2015-09-14 10:40] Bertware commented on #74
Are you using educal.gent.be or are you running a test version yourself?
Both latest master (on vagrant) and the deployed version are working for me.

What's the name of the calendar you're trying to toggle?

[2015-09-15 18:32] tthoeye commented on #74
Hi Bert, I am testing on a self deployed version here: http://educal.open.gent. It had to do with including jQuery twice. Appearantly it was compiled into app.js. When I leave that out it works for me, see https://github.com/tthoeye/educal/commit/416ac1199149a6c116ce14acb8a6260164905a51

[2015-09-15 18:34] tthoeye opened #75 "Calendar view only shows "global" calendar by default"
This happens even if other calendars are selected in the sidebar at page load

[2015-09-15 21:20] Bertware commented on #74
It's really weird, I just checked the entire repo for app.js, and I can't find it anywhere (it doesn't get compiled either). I do remember removing that file since it was created during oSoc14, and got obsolete in oSoc15. Anyway, removing the app.js include was correct, and the issue's fixed.

[2015-09-15 21:34] Bertware opened #77 "Load root calendars from html"
Root calendars are loaded using HTTP since #76

When the page is loaded
- All root calendars are selected and loaded
- All root calendars need their own HTTP request

Todo:
Load from embedded javascript arrays.

Suggested fix:
Add keys to the root array containing calendar id's (CalendarViewController).
Set root variable in calendar.index.php to an array of all roots instead of a single object.
Ad

[2015-09-15 22:11] Bertware commented on #77
fullcalendar will glitch when toggling from the sidebar (loading from url) after it's been loaded from embedded javascript objects. Not possible for now.

[2015-09-15 22:11] #77 closed, assigned to nobody

[2015-09-16 09:51] tthoeye commented on #74
\o/ Thanks for checking! I think it did get compiled somewhere but I'm completely new to this Laravel / Bower / Grunt workflow so it's very difficult for me to point out where :)

[2015-09-16 11:58] Bertware commented on #74
The only compiled file is production.js (also minified to production.min.js), no trace of app.js. It's correct like this as app.js is not needed/used. Maybe it got compiled by a script from the oSoc14/Code9000 repo.
Marking this as fixed!

[2015-09-16 11:58] #74 closed, assigned to nobody

[2015-09-16 12:53] tthoeye opened #78 "Cannot add users to my organization (403)"
Relates to story #50

I'm having trouble adding users to my organization, POST to /api/1/users returns 403 (Permission Denied)

[2015-09-16 13:08] tthoeye commented on #75
Fixed with #74 ?

[2015-09-16 13:08] #75 closed, assigned to nobody

[2015-09-16 14:51] #78 closed, assigned to nobody

[2015-09-16 15:00] tthoeye commented on #72
Working on this. @Bertware can you assign me?

[2015-09-16 15:01] Bertware commented on #72
Can't assign because you're not in oSoc15, but I'll set it to working :)

[2015-09-16 15:02] tthoeye commented on #72
Perfect :)

[2015-09-16 16:58] #72 closed, assigned to nobody

[2015-09-17 06:52] dmadigipolis commented on #78
Hi, I tried to add a new user via educal.open.gent. But when I click the button 'Bewaren', nothing happens, nothing is saved (Chrome/win7) No messages given.

[2015-09-17 13:51] tthoeye commented on #78
Thx, I tried with chrome/win but have no problem adding a user. Could you please provide some details (username, school and password) so I can try to reproduce. Also, it would help if you can provide us with the console output (ctrl-shift-i) in Chrome

[2015-09-17 14:02] dmadigipolis commented on #78
Hi Thimo,

Ondertussen heb ik de fout al gevonden. Ik probeerde een (test-)user aan te maken met een mailadres dat hij al kende voor een andere school.
Dat is dus correct gedrag, alleen had ik graag een boodschap gehad om dit te melden op het scherm.

Bijgevoegd een hele lijst van defects die ik gevonden heb tijdens mijn eerste testen.

Mvgr,
Dominic

Van: tthoeye [mailto:notifications@github.com]

[2015-09-17 14:24] dmadigipolis commented on #78
Heel erg bedankt Dominic,
Ik hoop dat je hier niet te veel tijd in hebt moeten steken.

Ik wil zeker nog eens door deze uitgebreide lijst gaan, maar het zou wel handig zijn als je de issues zou rapporteren in GitHub zoals je deed met onderstaande. Liefst ook het onderscheid maken tussen bugs (dit werkt niet) en improvements (dit kan beter) of extra features (dit mist nog).

Ik heb ze voorlopig eve

[2015-09-17 15:09] Bertware opened #81 "Forms (login, registration) don't link back to homepage"
Branding icon isn't clear as link to homepage

[2015-09-17 15:19] Bertware opened #82 "Registration: school name is used in URL (which is definitive), this is unclear"
Solution: add description

[2015-09-17 15:21] Bertware opened #83 "No check for circular links"
Calendars can be each other's parents, creating a circular link. As a result the calendars won't be shown in the overview.

[2015-09-17 15:27] Bertware opened #84 "No way to reorder calendars"
Newest is at the bottom.
Implementing re-ordering is difficult, sorting alphabetically might be a temporary fix.

[2015-09-17 15:29] Bertware opened #85 "abbonnement typo in export form"

[2015-09-17 15:32] Bertware opened #86 "User not found should be translated + general"
User not found should be in the site's language (dutch) + general (user/password combination incorrect).
See login.blade.php:23
See sentry module

[2015-09-17 15:36] Bertware opened #87 "Critical: adding events removes oldest ones"
From @dmadigipolis:

[code]

[2015-09-17 15:36] Bertware opened #88 "Google calendar remains empty after importing ics"

[2015-09-17 16:28] Bertware commented on #88
Tried importing .ics file, worked as expected.
@digipolis / @tthoeye : can someone reproduce? make sure you're on the latest version

[2015-09-17 16:38] #73 closed, assigned to Bertware

[2015-09-17 16:38] #81 closed, assigned to nobody

[2015-09-17 16:38] #82 closed, assigned to Bertware

[2015-09-17 16:38] #85 closed, assigned to Bertware

[2015-09-17 16:38] #86 closed, assigned to nobody

[2015-09-18 05:51] dmadigipolis commented on #78
Hoi Thimo,

Ik zie dat Bertware al wat bevindingen in Github heeft gestoken/opgelost.
Is de nieuwe versie beschikbaar op educal.open.gent?

D.

-----Oorspronkelijk bericht-----
Van: Thoeye Thimo
Verzonden: donderdag 17 september 2015 16:24
Aan: Maes Dominic; oSoc15/educal
CC: Bernaert Ann; Rosseau Bart
Onderwerp: RE: [educal] Cannot add users to my organization (403) (#78)

Heel erg bedankt Domini

[2015-09-18 06:46] dmadigipolis commented on #78
Dag Dominic.

Nee, de laatste commit die online staat is die op tthoeye/educal. Ik update asap.

Grt

-------- Original message --------
From: Maes Dominic
Date:18/09/2015 7:51 AM (GMT+01:00)
To: Thoeye Thimo ,oSoc15/educal
Cc: Bernaert Ann ,Rosseau Bart
Subject: RE: [educal] Cannot add users to my organization (403) (#78)

Hoi Thimo,

Ik zie dat Bertware al wat bevindingen in Github heeft gestoke

[2015-09-18 07:54] tthoeye commented on #81
Tested on http://educal.open.gent -  :+1:

[2015-09-18 08:00] tthoeye commented on #85
:+1:

[2015-09-18 08:00] tthoeye commented on #86
:+1:

[2015-09-18 08:05] tthoeye commented on #88
I can import the .ICS file without any problems, both in Outlook and Google Calendar

[2015-09-18 08:27] tthoeye commented on #82
Perfect. Thx.

[2015-09-18 08:33] tthoeye commented on #84
@dmadigipolis alphabetical ordering okay?

[2015-09-18 08:41] dmadigipolis commented on #84
Yep; Lijkt me ok

Van: tthoeye [mailto:notifications@github.com]
Verzonden: vrijdag 18 september 2015 10:34
Aan: oSoc15/educal
CC: Maes Dominic
Onderwerp: Re: [educal] No way to reorder calendars (#84)

@dmadigipolishttps://github.com/dmadigipolis alphabetical ordering okay?

—
Reply to this email directly or view it on GitHubhttps://github.com/oSoc15/educal/issues/84#issuecomment-141381209.

[2015-09-18 12:33] dmadigipolis commented on #88
Retested: Lijkt te werken nu. (nieuwe bug toegevoegd)

[2015-09-18 12:39] dmadigipolis opened #90 "Ics All export not working"
I have downloaded the ICS from edugo-lourdes-meerhout (all).

I see events that are not in the calendar, but must be coming from another calender:  Ma14/9 12:45/14:45 tekenles. 14/9 8:00 / 9:00 Laravel Class.....

[2015-09-18 12:41] #88 closed, assigned to nobody

[2015-09-18 12:55] dmadigipolis opened #91 "Use of parents/children is confusing when wanting to display"
In my testschool : de-klimop, i have created 'Eerste graad' as a parent for 1ste and 2de leerjaar.
If I click 'Eerste graad', or one of the children, nothing is visible on the calendar.  How does this work?
(events created before i 'parented' the class)
The up and down arrow when you click on a child is also very confusing (and doesn't change a thing-)

[2015-09-18 13:29] Bertware commented on #90
Can you try the fix on the develop branch?

[2015-09-18 14:07] Bertware commented on #91
Suggested fix: when a calendar doesn't have children, it should show as a checkbox instead of collapsible.

[2015-09-23 05:54] dmadigipolis commented on #91
Hi Bertware. i have no access to the devlopment branch to test.

[2015-09-23 17:54] tthoeye commented on #90
@dmadigipolis I've tracked the develop branch on http://educal.open.gent, so you can test there.

As for this bug, I'm getting an exception when exporting my calendars (see image)

![exportcalendar](https://cloud.githubusercontent.com/assets/1484581/10053500/be48eaa2-622c-11e5-8884-7734f53ded45.png)

[2015-09-23 17:58] tthoeye commented on #84
Tested, calendars are sorted alphabetically. Please close the issue.

[2015-09-24 12:36] dmadigipolis commented on #90
Hoi Thimo,

Juist even gekeken.
Klopt genereert een error (trying to get property of non-object)

Plus de knop ‘exporteer’ lijkt niet van de eerste keer te werken…. (weinig reactie)

D.

Van: tthoeye [mailto:notifications@github.com]
Verzonden: woensdag 23 september 2015 19:55
Aan: oSoc15/educal
CC: Maes Dominic
Onderwerp: Re: [educal] The ICS contains events from another calendar. (#90)

@dmadigi

[2015-09-24 12:44] dmadigipolis commented on #84
Tested. Ok to close.

[2015-09-24 15:00] #84 closed, assigned to nobody

[2015-09-30 16:37] tthoeye commented on #90
Sorry @Bertware moeten fixen op tthoeye/master branch. oSoC15/develop gaf nog problemen.

[2015-09-30 20:35] #90 closed, assigned to nobody

[2015-10-01 07:47] Bertware commented on #90
No problem, glad that it's fixed now! :)

[2015-10-01 11:56] tthoeye commented on #87
Moeilijk te reproduceren:
- Programmeren over maandeinde lukt
- Als er een periode over meerdere dagen wordt ingepland wordt dat goed opgeslagen maar de laatste dag wordt niet ingekleurd in de kalender (tenzij het einduur uitdrukkelijk wordt opgenomen én na 9u 's ochtends valt)
- Periode verdwijnt: cannot reproduce
- _Ernstig probleem_ er is geen maximum aantal events. Deze bug kan ik niet reprodu

[2015-10-01 12:00] tthoeye commented on #87
**Correctie**

Laatste event op een dag verdwijnt inderdaad bij inplannen van een nieuw evenement!! Ik splits de issue op.

[2015-10-01 12:01] tthoeye opened #93 "Last day of period isn't displayed in calendar"
...when end hour is not set after 9 AM.

This bug relates to #87

[2015-10-01 13:17] tthoeye opened #94 "Main calendar "global" is confusing"

[2015-10-04 16:36] tthoeye commented on #93
Ok so apparantly this is _by design_ bummer
http://stackoverflow.com/questions/27604359/fullcalendar-event-spanning-all-day-are-one-day-too-short

[2015-10-05 10:23] tthoeye commented on #93
And: http://fullcalendar.io/wiki/Upgrading-to-v2/

So our options are:
- Overriding all "allday" events to extend end date with one day autmatically
- Patching fullcalendar (oh god please no) to make end date inclusive again

@Bertware @dorienmarinus @mietcls @dmadigipolis Ideas? Alternatives?

[2015-10-05 10:56] tthoeye commented on #87
This happens after removing an event. The ID of the removed event is somehow kept in the session and fed to the API when creating a new event, this leading it to believe that this is an update.

[2015-10-05 14:16] Bertware commented on #93
Overriding alldray events on store seems like the easiest fix. I don't know if we can do this by adding code logic to the laravel save() method? (so when it's saved, a check is performed to see if it's allday, and one day is added).
Another option is to catch this in the controllers, and add a day before calling save().

[2015-10-05 14:17] #87 closed, assigned to nobody

[2015-10-06 07:48] tthoeye commented on #87
We should probably put these last changes (set active.ev.id to 0)) in the close() function...